extends layout

block content
  h1 MES - UŽ AKTYVŲ POILSĮ
  section.css-table
    section.two-column
      section.cell
        img(src="/images/fam.jpeg")
      section.cell
        
        p Esame šeima, mėgstanti aktyviai leisti laiką gamtoje. Dažnai keliaujame bei iškylaujame, todėl turime įsigiję erdvų autobusiuką, priekabą, baidares. Deja, kaip ir dauguma didžiąją metų dalį praleidžiame darbuose, todėl savaitgaliais nuomojame savo įrangą, panašas gyvenimo būdo propoguotojams. Iš viso turime 4 baidares, todėl paslaugą siūlome kompanijoms iki 8 žmonių. 
        p Nors kol kas siūlome tik vieną maršrutą Vilniuje, mūsų siūloma paslauga išsiskiria tuo, kad pilnai pasirūpinsime patogumu, saugumu ir gera nuotaika kiekvieną minutę. Pusiaukelėje surengsime smagų pasibūvimą stovyklavietėje su gėrimais, užkandžiais bei lauko žaidimais. Išskirtinai šeštadienio vakarais taip pat siūlome nakvynę galutinėje stotelėje, Vilniuje mūsų sodyboje prie miško su kubilu bei pirtimi! 
  
