extends layout

block content
  h1  
    svg(viewBox='0 0 100 20')
      defs
        lineargradient#gradient(x1='0', x2='0', y1='0', y2='1')
          stop(offset='5%', stop-color='#8B95C9')
          stop(offset='95%', stop-color='#8B95C9')
        pattern#wave(x='0', y='0', width='120', height='20', patternUnits='userSpaceOnUse')
          path#wavePath(d='M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z', mask='url(#mask)', fill='url(#gradient)')
            animatetransform(attributeName='transform', begin='0s', dur='1.5s', type='translate', from='0,0', to='40,0', repeatCount='indefinite')
      text(text-anchor='middle', x='50', y='12', font-size='9', fill='url(#wave)', fill-opacity='0.6') VANDENS PRAMOGOS
      text(text-anchor='middle', x='50', y='12', font-size='9', fill='url(#gradient)', fill-opacity='0.1') VANDENS PRAMOGOS
  section.css-table
    section.two-column
      section.cell
        h2 Plaukimas baidare vaizdingu maršrutu
        #cf3
         img(class="bottom" src="/images/1.jpg")
         img(class="top" src="/images/4.jpg")

      section.cell
        p  Kviečiame visus aktyvaus poilsio mėgėjus pasimėgauti nepamirštamais nuotykiais pasiplaukiojimu baidarėmis Vilnele ir Nerimi Vilniuje. Tik pas mus jūsų laukia gardūs pietūs stovyklavietėje ir esant norus smagus pasibūvimas vakare mūsų sodyboje! 
        p  Tik birželio mėnesį siūlome akciją! Plaukimas Vilnele ir Nerimi su pietumis tik nuo 15 Eur žmogui su atvežimu į kelionės pradžios tašką!
        p  Geriausia Kaina ir didžiausi įspūdžiai tik pas mus!
        p  Rasų šventės proga specialios pramogos stovyklavietėje!
        p  Rezervuokite vietas jau dabar. Jau daugiau nei 100 laimingų klientų!
       