extends layout
 
block content
  section.css-table
    section.three-column
      section.cell
        h3 Mūsų patogiausias transportas
        p 
        img(class="bottom" src="/images/van.jpg")
      section.cell
        h3 Mūsų profesionalios baidarės
        p 
        img(class="bottom" src="/images/bai.jpg")
      section.cell
        h3 Svarbiausia jūsų saugumas!
        p 
        img(class="bottom" src="/images/ves.jpg")
