doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href="/") Pagrindinis
          li 
            a(href="/apie_mus") Apie mus
          li 
            a(href="/marsrutai_ir_kainos") Maršrutai ir kainos
          li 
            a(href="/inventorius") Inventorius
          li 
            a(href="/kontaktai") Kontaktai

    section#wrapper
      block content
      footer 
        section.css-table
          section.four-column
            section.cell
              p  <br /><br /> © 2022. Visos teisės saugomos
            section.cell
              p  <br /><br /> 
            section.cell
              p  <br /><br /> 
            section.cell
              p Kontaktai: <br /> E: info@vandensnuotykiai.lt<br /> M: +37063566636


