extends layout
 
block content
  h1 Maršrutas:
  h1 Vilnelė -> Stovyklavietė -> Neris -> Sodyba
  section.css-table
    img(class="bottom" src="/images/map.jpg")
  section.css-table
    section.three-column
      section.cell
        h3 Mūsų sodyba pirtimi ir kubilu!
        p 
        img(class="bottom" src="/images/sod.jpg")
      section.cell
        h3 Stovyklavietė prie Pavilnių parko
        p 
        img(class="bottom" src="/images/sto.jpg")
      section.cell
        h3 KAINOS:
        p BIRŽELIO MĖNESĮ TIK 15 EUR ASMENIUI! Nuvežimas iki vietos, sustojimas stovyklavietėje su pietumis, pramogomis pasirūpinsime. Išlipimas prie mūsų sodybos už Lazdinėlių.
        p Papildomai norintiems apsistoti pavakaroti mūsų sodyboje su pirtimi ir kubilu - 15 Eur asmeniui. Iš viso tik 30 Eur už viską!